@charset "utf-8";
/* CSS Document */

#leftBar {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width:73px;
	display:none;
}
#rightBar {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width:73px;
	display:none;
}
#topBar {
	height:73px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display:none;
}
#topBar,#leftBar,#rightBar{
	z-index:45;
}
.dock_container {
	height: 576px;
	left: 0;
	margin: -290px 0 0;
	position: absolute;
	top: 50%;
	width: 73px;
}
#topBar #dockContainer {
	width: 576px;
	top: 0;
	margin-left:-290px;
	position: absolute;
	left: 50%;
	height: 73px;
}
.dock_middle {
	height: 566px;
	padding-top: 10px;
}
#topBar .dock_middle {
	width: 566px;
	padding-left: 10px;
	background: url("../images/dock_up.png") no-repeat 0 0;
	height:73px;
	padding-top:0;
}
#topBar #default_app {
	width: 445px;
	position: relative;
	height: 63px;
	float:left;
}
#topBar #default_app .desktopIcon {
	float:left;
}
#topBar .default_tools {
	width: 30px;
	margin-top: 3px;
	margin-left: 1px;
	overflow: hidden;
	height: 60px;
	float:left
}
#topBar #start_block {
	height:63px;
	width:50px;
	float:left;
}
.dock_pos_left .dock_middle {
	background: url("../images/dock_l.png") no-repeat scroll 0 0 ;
}
.dock_pos_right .dock_middle {
	background: url("../images/dock_r.png") no-repeat scroll 0 0 ;
}
.dock_pos_right .default_tools, .dock_pos_right #default_app, .dock_pos_right #start_block {
	margin-left:10px;
}
.dock_pos_right #start_item {
	right:68px;
	left:auto;
}
 
#topBar #start_item {
	left:auto;
	right:0;
	top:68px;
	bottom:auto;
}
.dock_pos_right #start_item .item li span {
	margin-left:30px;
}
.dock_pos_right #start_item .item li b {
	left:10px;
	background: url("../images/item-child1.png") no-repeat scroll center;
}
.dock_pos_right #start_item .childItem {
	left:-181px;
}
#shizhong_btn {
	background:url(../images/shizhong.png) no-repeat center center
}
#weather_btn {
	background:url(../images/weather.png) no-repeat center center
}
#showZm_btn {
	background:url(../images/show-desktop.png) no-repeat center center
}
#them_btn {
	background:url(../images/skin.png) no-repeat center center
}
/*开始按钮样式*/
#start_block {
	width:63px;
	height:50px;
}
#start_btn {
	display:block;
	width:48px;
	height:48px;
	background:url(../images/start-btn.png) no-repeat center bottom;
	margin:4px auto 0 auto;
	outline:none;
	z-index:501;
	cursor:pointer;
}
#start_btn:hover {
	background-position:center top
}
/*开始菜单样式*/
#start_item {
	width:180px;
	height:auto;
	padding:5px 0;
	background: url(../images/start_item_bg.png) repeat;
	position:absolute;
	z-index:500;
	left:68px;
	bottom:0px;
	display:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #444;
	-webkit-box-shadow: 2px 2px 5px #444;
	box-shadow:2px 2px 5px #444;
}
#start_item .item {
	width:100%;
	height:auto;
	border-top:1px solid #666;
	font-size:12px
}
#start_item .item li {
	width:98%;
	height:24px;
	padding:6px 0;
	line-height:24px;
	margin:0 auto;
	color:#FFF;
	position:relative;
}
#start_item .item li:hover {
	background:url(../images/start_item_over.png) repeat-x left bottom;
	cursor:pointer
}
#start_item .item li span {
	display:inline-block;
	height:24px;
	background-image:url(../images/start_itembtn.png);
	background-repeat:no-repeat;
	padding-right:20px;
	margin-left:15px;
}
#start_item .item li span img {
	width:24px;
	height:24px;
	float:left;
	margin-right:5px;
}
#start_item .item li b {
	width:10px;
	height:24px;
	background:url(../images/item-child.png) no-repeat center center;
	display:inline-block;
	position:absolute;
	right:10px;
	top:6px;
}
#start_item .admin {
	border-bottom:1px solid #444;
	padding:5px 0;
	border-top:none;
}
#start_item .item .line {
	height:1px;
	padding:0;
	background-color:#444
}
#start_item .childItem {
	position:absolute;
	top:0;
	right:-181px;
	background: url(../images/start_item_bg.png) repeat;
	display:none;
	width:180px;
}
#start_item .item li .adminImg {
	border:1px solid #E0E0E0;
	background-position:left -92px;
	background-color:#FFF;
	padding:0;
	width:24px;
	height:24px;
	float:left;
	margin-right:10px;
}
/*默认小工具*/
.default_tools {
	width:60px;
	height:30px;
	overflow:hidden;
	zoom:-1;
	margin-left:3px;
	margin-top:1px;
}
.default_tools a {
	width:20px;
	height:20px;
	display:inline-block;
	margin:5px 5px;
	cursor:pointer;
	float:left;
	outline: medium none;
}
/*默认应用程序*/	
#default_app {
	width:63px;
	height:445px;
	position:relative;
}
#default_app .desktopIcon {
	width:58px;
	height:58px;
	margin:0 auto;
	padding:2px;
}
#default_app .desktopIcon .text {
	display:none;
}
#default_app .btnOver {
	background:url(../images/default_appbtn_bg.png) no-repeat center center
}
/*重写右键菜单样式*/
.smart_menu_box .smart_menu_a {
	color:#333
}
.smart_menu_box .smart_menu_li_separate {
	border-bottom:1px solid #d6d5d5;
}
 
.dock_drap_mask {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300000;
}
.dock_drop_region_top {
    border-bottom: 1px dashed #333333;
    height: 20%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dock_drop_region_left {
    border-right: 1px dashed #333333;
    bottom: 0;
    height: 80%;
    left: 0;
    position: absolute;
    width: 50%;
}
.dock_drop_region_right {
    bottom: 0;
    height: 80%;
    position: absolute;
    right: 0;
    width: 50%;
}

.dock_drap_effect {
    border: 3px solid #3C9DFF;
    display: none;
    z-index: 4000000;
	background:url(../images/bg.png) repeat;
}
.dock_drap_effect_left {
    height: 568px;
    left: -3px;
    margin: -288px 0 0;
    position: absolute;
    top: 50%;
    width: 65px;
}
.dock_drap_effect_top {
    height: 65px;
    left: 50%;
    margin: 0 0 0 -288px;
    position: absolute;
    top: -3px;
    width: 568px;
}
.dock_drap_effect_right {
    height: 568px;
    margin: -288px 0 0;
    position: absolute;
    right: -3px;
    top: 50%;
    width: 65px;
}
.dock_drap_effect_current {
    border-color: #E1F0FD;
}
